{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1><p>Topics</p></h1>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %}
    {% if topic.public == True %}
      <li><h4>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }} : public</a>
      </h4>
      </li>
    {% else %}
      <li><h4>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
      </h4>
      </li>
    {% endif %}
    {% empty %}
    <li><h3>No topics have been added yet.</h3></li>
    {% endfor %}
  </ul>
<h2><a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></h2>

{% endblock content %}